<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/tab1">
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
        </ion-back-button>
      </ion-buttons>
      <ion-title>Click to add Game</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
      <ion-list>
        <ion-list-header>
            <ion-label>Available games:</ion-label>
        </ion-list-header>
        <ion-item button *ngFor="let game of games" (click)="addGameToPlayer(game)">
          <ion-ripple-effect></ion-ripple-effect>

          <ion-avatar slot="start">
            <img src={{game.portada}}>
          </ion-avatar>
    
          <ion-label>
              <h2>{{game.name}}</h2>
    
              <p>{{game.description}}</p>
          </ion-label>
    
        </ion-item>
      </ion-list>
</ion-content>
