<ion-header>
  <ion-toolbar>
    <ion-title>
      Player
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
    <ion-card class="welcome-card" >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/user256x256.png"></ion-img>
        <ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-subtitle>Your info</ion-card-subtitle>
          <ion-card-title>{{player.name}} {{player.lastname}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>age {{player.age}}</ion-label>
        </ion-card-content>
      </ion-card>
 




  <ion-button expand="block"  [routerLink]="['search-add-games', player]" routerDirection="forward">
    Search and add Games
  </ion-button>

  <ion-button  expand="block"  [routerLink]="['my-games', player]" routerDirection="forward">
      My Games
  </ion-button>

  <ion-button  expand="block" [routerLink]="['followers-following', player]" routerDirection="forward">
      Search and follow players
  </ion-button>

  <ion-button  expand="block" [routerLink]="['following', player]" routerDirection="forward">
      I´m following to
  </ion-button>
  <ion-button  expand="block" [routerLink]="['followers', player]" routerDirection="forward">
      My Followers
  </ion-button>

  
  </ion-grid>
  
</ion-content>
